#********************************************************************
# Lider Common Properties
#********************************************************************
# Use either language (tr, en etc.) or language tag (tr-TR, en_US) that conforms to the IETF BCP 47 standard.
lider.locale = tr

#********************************************************************
# LDAP Client Properties
#********************************************************************
ldap.server = #LDAP_SERVER
ldap.port = 389
ldap.username = #LDAP_ADMIN_DN
ldap.password = #LDAP_ADMIN_PWD
ldap.root.dn = #LDAP_ROOT_DN
ldap.use.ssl = false
# NOTE: Allow self-signed certificates only for test/debug purposes!
ldap.allow.self.signed.cert = false
ldap.search.attributes = cn,objectClass,uid,liderPrivilege
ldap.mail.notifier.attributes = cn, mail, departmentNumber, uid
ldap.email.attribute = mail

#********************************************************************
# XMPP Client Properties
#********************************************************************
xmpp.host = #XMPP_SERVER
xmpp.port = 5222
xmpp.username = #LIDER_USERNAME
xmpp.password = #XMPP_USER_PWD
xmpp.resource = Smack
xmpp.service.name = #XMPP_SERVICE_NAME
xmpp.max.retry.connection.count = 5
xmpp.packet.replay.timeout = 10000
xmpp.ping.timeout = 300
# Please refer to
# https://github.com/Pardus-Kurumsal/lider/wiki/07.-SSL-Configuration
# for SSL configuration
xmpp.use.ssl = false
# NOTE: Allow self-signed certificates only for test/debug purposes!
xmpp.allow.self.signed.cert = false
xmpp.use.custom.ssl = false
xmpp.presence.priority = 1

#********************************************************************
# LDAP Agent Properties
#********************************************************************
agent.ldap.base.dn = ou=Agents,#LDAP_BASE_DN
agent.ldap.id.attribute = cn
agent.ldap.jid.attribute = uid
agent.ldap.object.classes = pardusDevice,device
agent.ldap.removedfilename = Silinenler

#********************************************************************
# LDAP User Properties
#********************************************************************
user.ldap.base.dn = #LDAP_BASE_DN
user.ldap.uid.attribute = uid
user.ldap.privilege.attribute = liderPrivilege
user.ldap.object.classes = pardusAccount,pardusLider
user.authorization.enabled = true
group.ldap.object.classes = groupOfNames
user.ldap.roles.dn = ou=Roles,#LDAP_BASE_DN

#********************************************************************
# Task Manager Properties
#********************************************************************
# If enabled, Lider checks future tasks (tasks with activation date)
# periodically
taskmanager.check.future.task = true
# Time in milliseconds between successive future task checks
taskmanager.future.task.check.period = 60000

#********************************************************************
# Alarm Properties
#********************************************************************
# If enabled, Lider checks reports with an alarm periodically
alarm.check.report = true

#********************************************************************
# Mail Properties
#********************************************************************
mail.address=liderahenk@gmail.com
# NOTE: Do not forget to change password!
mail.password = !P@ssw0Rd
mail.host = smtp.gmail.com
mail.smtp.port = 587
mail.smtp.auth = true
mail.smtp.starttls.enable = true
mail.smtp.ssl.enable = false
mail.smtp.connectiontimeout = 1000
mail.smtp.timeout = 1000
mail.smtp.writetimeout = 1000

# If enabled, Lider check task completion periodically
# and if any task is finished/completed, it sends a summary mail
mail.send.on.task.completion = true
# Time in milliseconds between successive task completion checks
mail.check.task.completion.period = 60000

# If enabled, Lider check policy completion periodically
# and if any policy is applied/completed, it sends a summary mail
mail.send.on.policy.completion = true
# Time in milliseconds between successive task completion checks
mail.check.policy.completion.period = 120000

#********************************************************************
# Hot Deployment Properties
#********************************************************************
hot.deployment.path=/opt/lider-server/deploy/

#********************************************************************
# File Transfer Properties
#********************************************************************
# Possible values: http, ssh
file.server.protocol = ssh
file.server.host = #FILE_SERVER
file.server.port = 22
file.server.username = #FS_USERNAME
file.server.password = #FS_PASSWORD
file.server.plugin.path = #PLUGIN_PATH/plugins/ahenk-{0}_{1}_amd64.deb
file.server.agreement.path = #AGREEMENT_PATH/sample-agreement.txt
file.server.agent.file.path = #AGENT_FILE_PATH/agent-files/{0}/

#********************************************************************
# cron string will be manipulate for defined tasks..
#********************************************************************
cron.task.list = BACKUP_WITH_MONITORING_TASK, SERVICE_MANAGEMENT
entry.size.limit = 20
cron.interval.entry.size = 10

#********************************************************************
# AD integration properties
#********************************************************************
ad.domainname = liderahenk.org
ad.hostname = pardus.liderahenk.org
ad.ipaddress = ad.liderahenk.org
ad.adminpassword = secret
